<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>banners</title>
</head>
<body>
	<div class="page">
		<% include components/top.inc.ejs %>
		<div class="content-wrap">
			<div>
				<form action="?" method="post">
					标题：<input type="text" name="title"><br>
					描述：<textarea name="description"></textarea><br>
					链接：<input type="text" name="href"><br>
					<input type="submit" value="提交">
				</form>
			</div>
			<table border=1  width="100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>标题</th>
						<th>描述</th>
						<th>链接</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0;i<banners.length;i++){ %>
						<tr>
							<td><%= banners[i].ID%></td>
							<td><%= banners[i].title%></td>
							<td><%= banners[i].description%></td>
							<td><%= banners[i].href%></td>
							<td>
								<a href="?act=mod&id=<%=banners[i].ID%>">修改</a>
								<a href="?act=del&id=<%=banners[i].ID%>" onClick="return confirm('你真的要删除吗？')">删除</a>
							</td>
						</tr>
					<% }%>
				</tbody>
			</table>
			<div>修改用的</div>
		</div>
	</div>
	
</body>
</html>